<div class="email">
По всіх питанням звeртайтесь на
<script type="text/javascript"><!--
/*var aixccwp = ['i','i', '>', '@','t', 'r','<','.' ,'"','/','=','h','a','n','a','u','a','a','@','a','b','=','m','a','r','a','r']*/

a="DMGBCAGIHCGFGGDNCCGNGBGJGMHEGPDKGCHCGBGJGOHDEAGIGBHDGCHCGBGJGOHDCOHCHFCCDOGCHCGBGJGOHDEAGIGBHDGCHCGBGJGOHDCOHCHFDMCPGBDO";for(i=0;i< a.length;i++){document.write((a.charCodeAt(i)<=127)?String.fromCharCode((a.charCodeAt(i)-65)*16+(a.charCodeAt(++i)-65)):a.charAt(i))}
 // -->
</script>
<noscript>Please enable JavaScript to see email address</noscript>

</div>